* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image:url(./patron-transparente-vector-sobre-fondo-naranja-dia-internacional-trabajo-herramientas_718585-375.avif);
    background-size:cover;
    background-position:center;
}
header{
    background-color:#0e2d7b;
    padding:20px;
    text-align:center;
}
header h1{
    color:#ffffff;
    margin-bottom:15px;
}
nav a{
    color:#ffffff;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}
main{
    text-align: center;
    color: #0e2d7b;
}

footer{
    background-color:#0e2d7b;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}

.redes{
    width:50px;
    margin:10px;
}