*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#f4f4f4;
     background-image:url(./patron-transparente-vector-sobre-fondo-naranja-dia-internacional-trabajo-herramientas_718585-375.avif);
}
header{
    background-color:#0e2d7b;
    padding:20px;
}
header h1{
    color:white;
    text-align:center;
    margin-bottom:15px;
}
nav{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}
nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}












footer{
    background:#002d72;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}