*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:#f5f5f5;
    color:#333;
     background-image:url(./patron-transparente-vector-sobre-fondo-naranja-dia-internacional-trabajo-herramientas_718585-375.avif);
}
header{
    background:#002d72;
    color:white;
    text-align:center;
    padding:20px;
}
nav a{
    color:#ffffff;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}
nav a:hover{
    color:#cfd8ff;
}
.titulo{
    text-align:center;
    padding:40px 20px;
}
.titulo h2{
    color:#002d72;
    margin-bottom:15px;
    font-size:35px;
}
.titulo p{
    margin:auto;
    font-size:18px;
}
.tabla{
    padding:40px;
}
.tabla h2{
    text-align:center;
    color:#002d72;
    margin-bottom:20px;
}
table{
    width:100%;
}
th{
    background:#002d72;
    color:white;
    padding:15px;
}
td{
    border:1px solid #ccc;
    padding:15px;
}
footer{
    background:#002d72;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
nav{
    flex-direction:column;
}
.titulo h2{
    font-size:28px;
}